.logo {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

.header {
  background-color: #EECF70 !important;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  background-color: #EAE7c8;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}